.card_section{
    margin: 0;
    padding: 0;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 7px;
    box-shadow: 0 0 14px rgba(0,0,0,0.6);
    width: 280px;
}

.fourth{
    background-color: white;
    border-radius: 7px;
}

.container{
    margin-top: 15px;
}

.card{
    --bs-card-border-color: none;
}

.card_img{
    margin: 0;
}

.card_img img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.title{
    margin: 8px;
}

.description{
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90px;
}

.count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.number{
    margin: 20px;
    padding: 0;
}

.price{
    margin: 0;
    font-weight: 700;
}


hr{
    margin-top: 0;
}

button{
    background-color: rgb(69, 148, 69);
    color: white;
    border-radius: 7px;
    border: none;
}

.button{
    margin:0;
    padding: 8px;
    text-align: center;
}
